// // .babelrc文件
// {
//     "presets": [["es2015", { "modules": false }]], // 预设
//     "plugins": [] // 插件
// }
// {
//     "presets": ["@babel/preset-env", "@babel/preset-typescript"],
//     "plugins": ["transform-class-properties"] // 插件
//     // "plugins": [["transform-class-properties", { "spec": true }]]
// }

{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "plugins": ["transform-class-properties"] // 插件
}
